# zato create web admin config
ca_certs_path=/opt/zato/certs/ca_cert.pem
cert_path=/opt/zato/certs/zato.web_admin.cert.pem
command=create_web_admin
odb_db_name=servicebus
odb_password=7BB94E6C-046D-47C8-8011-CC38FDB7015D
odb_host=postgres
odb_port=5432
odb_type=postgresql
odb_user=servicebus
path=/opt/zato/env/web-admin
postgresql_schema=
priv_key_path=/opt/zato/certs/zato.web_admin.key.pem
pub_key_path=/opt/zato/certs/zato.web_admin.key.pub.pem
store_config=False
tech_account_name=admin
tech_account_password=admin
